<%= render 'shared/navigation_bar'%>

<div class="container">
	<div class= "top-buffer">
		<% flash.each do |name, msg| -%>
		<%= content_tag :div, msg, class: "alert alert-#{name} alert-block" %>
		<% end %>

		<div class="row">

			<div class="col-md-8 col-md-offset-2">
				<%= bootstrap_devise_error_messages! %>
				<div class="panel">
					<div class="panel-heading">
						<h4><%= t('.title', :resource => resource_class.model_name.human , :default => 'Editar meu perfil') %></h4>
					</div>
					<div class="panel-body">

						<%= form_for(resource, multipart: true, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

						<div class="form-group">
							<%= image_tag @teacher.avatar.url, class: "avatar-size"%>
							<div class="field">
								<%= f.file_field :avatar %>
							</div>
						</div>

						<div class="form-group">
							<%= f.label :Nome %>
							<%= f.text_field :name, required: true, autofocus: true, class: "form-control" %>
						</div>
						<div class="form-group">
							<%= f.label :email %>
							<%= f.email_field :email, required: true, class: "form-control" %>
						</div>
						<div class="form-group">
							<%= f.label :cpf %>
							<%= f.text_field :cpf, required: true, class: "form-control", maxlength:"11" %>
						</div>
						<div class="form-group">
							<%= f.label :phone %>
							<%= f.text_field :phone, required: true, class: "form-control", maxlength:"15" %>
						</div>
						<div class="form-group">
							<%= f.label :hangout %>
							<%= f.text_field :hangout, class: "form-control" %>
						</div>
						<div class="form-group">
							<%= f.label :skype %>
							<%= f.text_field :skype, class: "form-control" %>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Endereço</h3>
							</div>
							<div class="panel-body">
								<div class='form-group'>
									<div class='col-md-12'>
										<div class='col-md-12'>
											<%= f.label :street, class: "control-label" %>
											<%= f.text_field :street, required: true, class: "form-control", maxlength:"80"  %>
										</div>
									</div>
								</div>
								<div class='form-group'>
									<div class='col-md-12'>
										<div class='col-md-6'>
											<%= f.label :number, class: "control-label" %>
											<%= f.text_field :number, required: true, class: "form-control", maxlength:"10"  %>
										</div>
										<div class='col-md-6'>
											<%= f.label :complement, class: "control-label" %>
											<%= f.text_field :complement, class: "form-control", maxlength:"15" %>
										</div>
									</div>
								</div>

								<div class='form-group'>
									<div class='col-md-12'>
										<div class='col-md-12'>
											<%= f.label :neighborhood, class: "control-label" %>
											<%= f.text_field :neighborhood, required: true, class: "form-control", maxlength:"80"  %>
										</div>
									</div>
								</div>
								<div class='form-group'>
									<div class='col-md-12'>
										<div class='col-md-6'>
											<%= f.label :zip_code, class: "control-label" %>
											<%= f.text_field :zip_code, required: true, class: "form-control", maxlength:"9"  %>
										</div>
										<div class='col-md-6'>
											&nbsp;
										</div>
									</div>
								</div>
								<div class='form-group'>
									<div class='col-md-12'>
										<div class='col-md-6'>
											<% estado_array = WEE_CONFIG['ESTADOS'] %>
											<%= f.label :state, class: "control-label" %>
											<%= f.select(:state, options_for_select(estado_array, @teacher.state.nil? ? "São Paulo" : @teacher.state), { :include_blank=>false, :required => true }, { class: "form-control"}) %>
										</div>
										<div class='col-md-6'>
											<%= f.label :city, class: "control-label" %>
											<%= f.text_field :city, required: true, class: "form-control", maxlength:"80"  %>
										</div>
									</div>
								</div>
							</div>

						</div><!-- Fim Panel Endereço -->

						<div class="form-group">
							<%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i>
							<br />
							<%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
						</div>
						<div class="form-group">
							<%= f.label :password_confirmation %>
							<br />
							<%= f.password_field :password_confirmation, class: "form-control"  %>
						</div>
						<div class="form-group">
							<%= f.label 'Senha atual' %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>)</i>
							<%= f.password_field :current_password, required: true, class: "form-control" %>
						</div>
						<div class="form-group">
							<%= f.check_box :accepted_term, required: true%>
							<a href="http://www.weeapp.com.br/assets/Termo_de_Uso_Professor.pdf" target="_blank"><%= f.label 'Aceito os Termos de Uso' %></a>
						</div>
						<%= f.submit t('.update', :default => "Update"), class: "btn btn-primary" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>