<%= form_for @teacher, :url => url_for(:controller => 'admin/teachers', :action => 'create') do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field(:name, required: true,  size: 80, class: "form-control form-control-no-width") %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field(:email, required: true, size: 80, class: "form-control form-control-no-width") %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Salvar", :class => "btn btn-primary" %>
  </div>
<% end %>
