<%= render 'shared/navigation_bar'%>

<div class="container">
	<div class= "top-buffer">
		<div class="col-md-offset-1">

			<% flash.each do |name, msg| -%>
				<%= content_tag :div, msg, class: "alert alert-#{name} alert-block" %>
			<% end %>
			<div class="panel-default">

				<h1>Professores</h1>

				<table id="admin_teachers" class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>Name</th>
							<th>Email</th>
						</tr>
					</thead>

					<tbody class='table-hover'>
						<% @teachers.each do |teacher| %>
						<tr>
							<td><%= teacher.id %></td>
							<td><%= teacher.name %></td>
							<td><%= teacher.email%></td>
						</tr>
						<% end %>
					</tbody>
				</table>

				<%= link_to 'Novo professor', admin_teachers_new_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>