<%= render 'shared/navigation_bar'%>
<div class="container">
  <div class= "top-buffer">
    <div class="col-md-offset-1">

      <h1>Novo professor</h1>

      <%= render 'form' %>

    </div>
  </div>
</div>