<div class="container">
  <div class="alert-danger">
    <% flash.each do |name, msg| -%>
     <%= content_tag :div, msg, class: name %>
    <% end %>  
  </div>

    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Login do administrador</h1>
            <div class="account-wall">
                <img class="profile-img" src="/assets/home.png?sz=120"
                    alt="">
                <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
                
                <%= f.email_field :email, :class =>'form-control', :placeholder=>"Email", :required => true, :autofocus => true%>

                <%= f.password_field :password, :class =>'form-control', :placeholder=>"Senha"%>

                <%= f.submit "Login", class: "btn btn-lg btn-primary btn-block"%>
                <% end %>

            </div>

        </div>
    </div>
</div>
