<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wee App</title>
    
    <!-- Custom CSS -->
    <link href="/assets/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
                                       
	<%= render 'shared/navigation_bar', :locals => {:home_menu => true} %>



    <!-- Header -->
    
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <img src="assets/home.png" alt="Logo">
                        <h1>Wee App</h1>
                        <h3>Aulas de conversação quando puder e onde quiser!</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=br.com.weeapp" class="btn btn-default btn-lg"><i class="fa fa-android fa-fw"></i> <span class="network-name">App Download</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="about"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Diversos professores.<br>Vários idiomas.</h2>
                    <p class="lead">O aplicativo WEE ajuda você a localizar professores de vários idiomas para praticar a conversação.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Preços acessíveis.<br>Aulas individuais.</h2>
                    <p class="lead">Por R$ 25,00 a cada 25 minutos de aula, você vai alavancar a sua comunicação. As aulas são individuais e por isto toda a atenção será voltada para você e para a sua necessidade.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="assets/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Comunicação simples.<br>Desenvolvimento constante.</h2>
                    <p class="lead">Você receberá os dados do seu professor no seu e-mail e também os detalhes das aulas agendadas. Você poderá contratar várias aulas com o mesmo professor no dia e horário de sua preferência para garantir que as suas aulas terão a continuidade e acompanhamento necessários para o desenvolvimento de sua aprendizagem.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="assets/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Dúvidas?</h2>
                    <h5>Envie-nos um e-mail que responderemos todas as suas perguntas! 
                    <a href="mailto:contato@weeapp.com.br"><h9>contato@weeapp.com.br</h9></h5>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=br.com.weeapp" class="btn btn-default btn-lg"><i class="fa fa-android fa-fw"></i> <span class="network-name">App Download</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
    <%=render 'shared/footer'%>
    <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

</body>

</html>
