<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <%= stylesheet_link_tag :email %>
  </head>
  <body>
<div class="mail-header">
  <div class="weelogo"> 
  </div>
  <a class="weelogolink" href="http://www.weeapp.com.br"><h8>Wee App</h8></a>
</div>
<hr>
<div class="mail-wrapper">
  <table>
    <tr>      
      <td></td>
    </tr>
    <tr>
      <td>
        <br />
              <p>Olá cccc, parabéns você comprou aulas no app WEE</p>
                        <p>Agora basta efetuar o pagamento no pagseguro neste link:</p>
                        <p>
                        ...
                        </p>
                        </h3>

          </td>
        </tr>
    </table>
</div> 
<div class="footer">
      <br>
      <p> Copyright &copy; 2015 <a href="http://doisdoissete.com"> <h9>doisdoissete.</h9></a> All Rights Reserved</p>

</div>                     
</body>
</html>