<%= render 'shared/navigation_bar'%>

<!-- Esqueci a senha -->

<section>

	<div>
		<!--form-left-->
		<div class="form-left">
			<%= bootstrap_devise_error_messages! %>
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, role: "form", :class => "login-form" }) do |f| %>
			<%= f.hidden_field :reset_password_token %>
			<div class="password">
				<h5>Nova Senha</h5>
				<%= f.password_field :password, autofocus: true, class: "form-control"  %>

			</div>

			<div class="password2">
				<h5>Confirmar Senha</h5>
				<%= f.password_field :password_confirmation, class: "form-control"  %>
			</div>

			<div class="intro-header3">
				<%= f.submit "Salvar Senha", class: "btn btn-default btn-lg" %>
			</div>
			<% end %>

		</div>
	</div>

</section>

<%= render 'shared/footer2'%>
