<%= render 'shared/navigation_bar'%>

<!-- Esqueci a senha -->

<section>

	<div>
		<!--form-left-->
		<div class="form-left">
			<%= bootstrap_devise_error_messages! %>
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, role: "form", :class => "login-form" }) do |f| %>

			<div class="password">
				<h5>Email</h5>
				<%= f.email_field :email, :class =>'form-control', :placeholder=>"Email", :required => true, :autofocus => true, :onfocus=>"this.value = '';"%>

			</div>

			<div class="intro-header3">
				  <%= f.submit "Enviar instruções", class: "btn btn-default btn-lg" %>
			</div>
			<% end %>

		</div>
	</div>

</section>

<%= render 'shared/footer2'%>

