<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="list-inline">
					<a href="#about">
					<h8>
						Sobre
					</h8></a>
					</li>
					<li class="footer-menu-divider">
						&sdot;
					</li>
					<li>
						<a href="#contact">
						<h8>
							Contato
						</h8></a>
					</li>
					<li class="area_professor">
						<%= link_to 'Área do Professor', new_teacher_session_path %>
					</li>
					<li class="footer-menu-divider">
						&sdot;
					</li>
					<p class="copyright text-muted small one">
						<a href="https://www.facebook.com/ProfessoresWee"> <img src="/assets/square-facebook-512.png"> </a> Copyright &copy; 2015 <a href="http://doisdoissete.com">
						<h9>
							doisdoissete.
						</h9></a> All Rights Reserved
					</p>
				</ul>
			</div>
		</div>
	</div>
</footer>