    <!-- Footer -->
    <footer id="footer2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">                      
                    <p class="copyright text-muted small one">
						<a href="https://www.facebook.com/ProfessoresWee"> <img src="/assets/square-facebook-512.png"> </a> Copyright &copy; 2015 <a href="http://doisdoissete.com">
						<h9>
							doisdoissete.
						</h9></a> All Rights Reserved
					</p>
                    </ul>
                </div>
            </div>
        </div> 
    </footer>