<%= nav_link 'Editar Perfil', edit_teacher_registration_path %> 
<%= nav_link 'Meus Horários', teacher_lessons_path(current_teacher) %>
<%= nav_link 'Meus Idiomas', settings_path %> 
<%= nav_link "[#{current_teacher.name}] Sair", destroy_teacher_session_path, :delete %>
<%if not current_teacher.avatar.nil? %>
	<li>
	<%= image_tag current_teacher.avatar.url, class: "avatar-header-size" %>
	</li>
<%end%>
