<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
	<div class="container topnav">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand topnav" href="http://www.weeapp.com.br">
			<h8><img src="/assets/footer.png" alt="Logo">Wee App
			</h8></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<% if defined? locals and locals[:home_menu] %>
				<li>
					<a href="#about">
					<h8>
						Sobre
					</h8></a>
				</li>
				<li>
					<a href="#contact">
					<h8>
						Contato
					</h8></a>
				</li>
				<% end %>

				<% if teacher_signed_in? %>
				<%= render 'shared/menuitens' %>
				<% elsif admin_signed_in?%>
				<%= render 'shared/menuitens_admin' %>
				<% else %>
				<li class="area_professor">
					<%= link_to 'Área do Professor', new_teacher_session_path %>
				</li>
				<% end %>

			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>