
<h2>Enviar dica</h2>

<%= form_tag('/send_notification') do %>
  <div class="field">
    <%= text_area_tag(:message, nil, cols: "40", rows: "5") %>
  </div>
  <br>
  <div class="actions">
    <%= submit_tag 'Enviar notificação', class: "btn btn-primary" %>
  </div>
<% end %>

<br>
