<%= render 'shared/navigation_bar'%>

<div class="container">
	<div class= "top-buffer">
		<div class="col-md-offset-1">
			<% flash.each do |name, msg| -%>
			<%= content_tag :div, msg, class: "alert alert-#{name} alert-block" %>
			<% end %>

			<%if @need_add_skype_hangout %>
				<div class="alert alert-danger alert-block">Para adicionar horários, é necessário adicionar o seu skype e/ou hangout. <%=link_to "Clique aqui.", edit_teacher_registration_path(current_teacher) %></div>
			<%elsif @need_add_language%>
				<div class="alert alert-danger alert-block">Para adicionar horários, é necessário configurar os idiomas que você leciona. <%=link_to "Clique aqui.", settings_path %></div>
			<%elsif @need_accepted_term%>
				<div class="alert alert-danger alert-block">Para adicionar horários, é necessário aceitar os Termos de Uso. <%=link_to "Clique aqui.", edit_teacher_registration_path(current_teacher) %></div>
			<%else%>

			<div class="panel-default">
				<div class="panel-heading">
					<h4>Cadastrar Horário</h4>
				</div>
				<div class="panel-body">
					<br>
					<%= form_for([@teacher, @lesson]) do |f| %>
					<%= f.hidden_field :teacher_id, :value => @teacher.id %>
					<div class="form-group">
						<label for="dtp_input2" class="col-md-2 control-label">Data/Hora</label>
						<div class="input-group date form_date col-md-4" id='datetimepicker1' >
							<%= f.text_field(:date, required: true, :readonly => true,  size: 16, class: "form-control") %>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>

					<div class="col-md-6 text-center"  >
						<%= f.submit 'Adicionar', :class=> "btn btn-primary" %>
					</div>

					<% end %>
				</div>
			</div>
			<%end%>
			<hr>

			<div class="panel-default">
				<div class="panel-heading">
					<h4>Horários cadastrados</h4>
				</div>
				<div class="panel-body">
					<table id="lessons" class="table table-striped">
						<thead>
							<tr>
								<th>id</th>
								<th>Date</th>
								<th>Reservado</th>
								<th>Idioma</th>
								<th>Nível</th>
								<th>Apagar</th>
							</tr>
						</thead>

						<tbody>
							<% @lessons.each do |lesson| %>
							<%
								@reserved = false
								@confirmed = false
								@user = nil
								if lesson.reservelesson.present? then
									@user = lesson.reservelesson.user
									@reserved = true
									orderpay = lesson.reservelesson.orderpay
									if orderpay.present? and orderpay.status == 1
										@confirmed = true
									elsif (orderpay.present? and orderpay.status == 0 and orderpay.idpagto.nil?) then
										@reserved = true
									end
								end 
								%>
									
							<tr>
								<td><%= lesson.id %></td>
								<td><%= lesson.date %></td>
								<td>
	
									<%if @confirmed %>
										Aula confirmada: <br>
										<%=@user.name%>
										<br>
										<%=@user.email%>
									<%elsif @reserved%>
										Aguardando pagamento.
									<%else%>
										Não
									<%end%>									
								</td>
								<td><%= lesson.language.name unless lesson.language.blank? %></td>
								<td><%= format_lesson(lesson.id, lesson.level) %></td>
								<td><%= (@confirmed or @reserved) ? '' : link_to('Apagar', [lesson.teacher, lesson], method: :delete, data: { confirm: 'Deseja apagar esta data?' }) %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
			

		</div>

	</div>
</div>

<script type="text/javascript">
	$(function() {
		$('#datetimepicker1').datetimepicker({
			format : 'dd-mm-yyyy hh:ii',
			autoclose : true,
			minuteStep : 30
		});
	}); 
</script>
