<%= render 'shared/navigation_bar'%>

<div class="container">
  <div class= "top-buffer">
    <div class="col-md-offset-1">
    
    <h2> Disponibilizar horário </h2>

    <%= form_for([@teacher, @lesson]) do |f| %>
        <%= f.hidden_field :teacher_id, :value => @teacher.id %>
      <div class="field">
        <%= f.label :Data %>
        <%= f.date_field :date %>
      
        <%= f.label :Horário %>
        <%= time_field_tag :time %>
      </div>
      
      <div class="actions">
        <%= f.submit 'salvar', :class=> "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>