<%= render 'shared/navigation_bar'%>

<div class="container">
  <div class= "top-buffer">
    <div class="col-md-offset-2">

      <h1>Listing Teachers</h1>
      <p id="notice"><%= notice %></p>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @teachers.each do |teacher| %>
            <tr>
              <td><%= teacher.name %></td>
              <td><%= link_to 'Show', teacher %></td>
              <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
              <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Teacher', new_teacher_path %>
    </div>
  </div>
</div>