<%= render 'shared/navigation_bar'%>

<div class="container">
  <div class= "top-buffer">
    <div class="col-md-offset-1">
    
    <h2> Disponibilizar horário </h2>

    <%= form_for([@teacher, @lesson]) do |f| %>
        <%= f.hidden_field :teacher_id, :value => @teacher.id %>
      <div class="field">
        <%= f.label :Data %>
        <%= f.date_field :date, :required => true %>
      
        <%= f.label :Horário %>
        <%= time_field_tag :time, :required => true %>
      </div>
      
<!--       <div class="field">
        <%= f.label :Idioma %>
        <%= f.collection_select :language_id, @languages, :id, :name %>
      
        <%= f.label :Nível %>
        <%= f.collection_select :level_id, @levels, :id, :name %>
      </div>
 -->      <p/>
      <div class="actions">
        <%= f.submit, :class=> "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>