<%= render 'shared/navigation_bar'%>

<div class="container">
	<div class= "top-buffer">
		<div class="col-md-offset-1">

			<% flash.each do |name, msg| -%>
			<%= content_tag :div, msg, class: "alert alert-#{name} alert-block" %>
			<% end %>
			<div class="row">

				<div class="col-md-8 col-md-offset-2">
					<div class="panel-default">

						<h1>Meus Idiomas</h1>

						<%= form_for :save_settings, :url =>{:controller => :teachers, :action => :save_settings} do |f| %>

						<div class="form-group">

							<%= label_tag 'Selecione os idiomas que ensina:' %>
							<br>

							<% @languages.each do |language| %>
							<div class="panel panel-default">
								<div class="panel-body">
									<h4> <%= h language.name %></h4>
									<br>

									<% @levels.each do |level| %>

									<%= check_box_tag "language_ids[#{language.id}][#{level.id}]", level.id, get_lang(language.id).present? ? get_lang(language.id).values[0].include?(level.id) : false %>
									<label class="label-level"><%= h level.name %> </label>
									<% end %>
									<br>

								</div>
							</div>

							<% end %>

						</div>
						<div  class="form-group">
							<%= submit_tag 'Salvar', class: "btn btn-primary center-block"%>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
