<%= render 'shared/navigation_bar'%>

<!-- Esqueci a senha -->

<section>

	<div>
		<!--form-left-->
		<div class="form-left">
			<%= devise_error_messages! %>

			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
			
			<div class="password">
				<h5>Email</h5>
				<%= f.email_field :email, :class =>'form-control', :placeholder=>"Email", :required => true, :autofocus => true, :onfocus=>"this.value = '';"%>

			</div>

			<div class="password2">
				<h5>Senha</h5>
				<%= f.password_field :password, :class =>'form-control', :placeholder=>"Senha", :required => true, :onfocus=>"this.value = '';"%>

			</div>

			<div class="intro-header3">
				<%= f.submit "Login", class: "btn btn-default btn-lg"%>
			</div>
			<% end %>
			<%= link_to t(".forgot_your_password", :default => "Esqueceu a senha?"), new_password_path(resource_name) %><br />

		</div>
	</div>

</section>

<%= render 'shared/footer2'%>