body {

}

p {
  line-height: 1.4;
}

.mail-wrapper {
  width:560px;
  margin:0 auto;
  color:#919191;
}

.greeting {
  text-align: center;
  font-weight: bold;
  font-size: 110%;
}

.footer {
  height: 100px;
  border-color: #343434;
  background-color: #343434;
  background-repeat: no-repeat;
  background-position: left;

}

.footer > p {
  color: #777;
}

.mail-header {
  height: 50px;
  border-color: #343434;
  background-color: #343434;
  background-repeat: no-repeat;
  background-position: left;
}

.weelogo {
  background-image: url("http://appwee.herokuapp.com/assets/footer.png");
  background-repeat: no-repeat;
  background-position: 5%;
  padding-top: 5%;
}
.weelogolink {
  top: 20px;
  position: absolute;
  left: 90px;
}

.normal {
  background-image: url("http://.png");
  height: 49px;
  width: 42px;
}

a {
  color: #fff;
  text-decoration: none;
  /*border-bottom: 2px solid green;*/
}
