/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #343434;
    background: url(/assets/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    font-size: 7em;
    color: #fff;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 100;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


.intro-message > h3 {
    color: #fff;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1.2em;    
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 5em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(/assets/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #343434;
}

p.copyright {
    margin: 15px 0 0;
}

h7 {
    color: #e69965;
}
h8 {
    color: #fff;
}

h9 {
    color: #e69965;
}

intro-message2 {
    padding-bottom: 0;
}

align {
    align-content: center;
}

.navbar-default {
border-color: #343434;
}

expired {
    height: 100%;
}

#footer2 {
   position:absolute;
   bottom:0;
   width:100%;
}

.intro-header2 {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    background-size: cover;
    color: #343434;
    background: url(/assets/intro-bg.jpg) center center no-repeat;
    height: 100%;
}

#email {
    color: #b2b2b2;
    line-height: 23px;
}

/* forget password */


.login-form
{
  width: 100%;
  margin: 0% auto 0 auto;
}

/*--- form-left ----*/
.form-left 
{
  position: relative;
 margin-left: auto;
    margin-right: auto;
  padding: 5em;
  width: 500px;

}
.form-left span
{
    float: left;
	margin-top: 0;
	text-align: right;
    padding-bottom: 10px;
    clear: both;
}
.form-left  form
{
	line-height:6em;
}
.form-left form span
{
    width: 17%;
    color:#2b2b2b;
	font-size:14px;
    text-align: left;
}

.password 
{
	padding-top: 20.5%;
    align-content: center;
    padding-left: 35px;
}

.password2 
{
	padding-top: 3.5%;
    align-content: center;
    padding-left: 35px;
}

.form-left form input[type="password"]:hover
{
	border:1px solid #0399C7;
}
.form-left  input[type="text"],.form-left  input[type="password"],.form-left  input[type="email"]
{
  background: #fafafa;
  color: #999;
  border: 1px solid #2B2B2B;
	outline: none;
	border: rgba(181, 181, 181, 0.21) solid 1px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.form-left  p a:hover
{
	color:#B5B5B5;
}

form {
    width: 500px;
    text-align: left;
}

.intro-header3 {
    text-align: center;
    color: #343434;
    margin-left: auto;
    margin-right: auto;
}

.form-left2 {
  position: relative;
 	margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
    padding-left: 50px;
  width: 500px;

    
}

.btn-lg, .btn-group-lg > .btn {
	font-size: 14px;
}
.navbar-default {
	border-color: #343434;
	background-color: #343434;
}
