<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
	<!--<![endif]-->
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Wee App</title>
		<meta name="description" content="O primeiro serviço mobile voltado para a área odontológica do Brasil.">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			@charset "UTF-8";
			img, object, embed, video {
				max-width: 100%;
				margin-top: 5px;
			}
			/* IE 6 does not support max-width so default to width 100% */
			.ie6 img {
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div class="gridContainer clearfix" style="margin-left: auto; margin-right: auto; width: 87.36%; padding-left: 1.82%; padding-right: 1.82%;">
			<div id="LayoutDiv1" style="clear: both; float: left; margin-left: 0; width: 100%; display: block;">

				<div class="Header" id="Header" style="clear: both; float: left; display: table-row; font-family: Arial,Helvetica,sans-serif; font-size: 18px; font-weight: normal; color: rgb(255, 255, 255); margin-top: 30px; background-color: rgb(52, 52, 52); width: 100%; height: 50px; padding: 10px;">
					<img style=" top: 50%;" src="http://www.weeapp.com.br/assets/footer.png">
			  			Instruções de confirmação
				</div>
			</div>

	            <p></p>
			<div class="Text" id="Text" style="clear: both; float: left; display: block; font-size: 14px; margin-top: 30px; font-style: normal; color: #343434; border: 1px dashed #E3E3E3; padding: 30px;">
				Olá, <%= @resource.name %>
				<p><%= t('.instruction', :default => "You can confirm your account email through the link below:") %></p>
				
				<p><%= link_to t('.action', :default => "Confirm my account"),
				         confirmation_url(@resource, :confirmation_token => @token, locale: I18n.locale) %></p>
				<p>Caso você tenha dúvidas, por favor, entre em contato no e-mail <a href="mailto:contato@weeapp.com.br">contato@weeapp.com.br</a>. Será um prazer atendê-lo!

					<div class="Sign" id="Sign" style="clear: both;float: left; margin-left: 0; width: 100%;display: block; font-size: 14px;color: #337ab7; margin-top: 30px; font-weight: 500;">
						Obrigado novamente;
						<br>
						Equipe Wee App
					</div>
				</p>
			</div>
		</div>
	</body>
</html>