<%= form_for(@tip) do |f| %>
  <% if @tip.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">

      <ul>
      <% @tip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area(:description, :class=>"form-control", rows: "10") %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Salvar", :class => "btn btn-primary" %>
  </div>
<% end %>
