<%= render 'shared/navigation_bar'%>


<div class="container">
  <div class= "top-buffer">
    <div class="col-md-offset-1">
      <h1>Editar Dica</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>