<%= render 'shared/navigation_bar'%>

<div class="container">
	<div class= "top-buffer">
		<div class="col-md-offset-1">

			<% flash.each do |name, msg| -%>
				<%= content_tag :div, msg, class: "alert alert-#{name} alert-block" %>
			<% end %>
		<div class="row">

			<div class="col-md-8 col-md-offset-2">
				
			<div class="panel-default">

				<h1>Dicas</h1>

				<table id="admin_tips" class="table table-striped">
					<thead>
						<tr>
							<td>ID</td>
							<td>Dica</td>
							<td class="no-sort"></td>
							<td></td>
						</tr>
					</thead>

					<tbody class='table-hover'>

						<% @tips.each do |tip| %>
						<tr>
							<td><%= tip.id%></td>
							<td><%= tip.description %></td>
							<td width="10%"><%= link_to 'Editar', edit_tip_path(tip) %></td>
							<td width="10%"><%= link_to 'Apagar', tip, method: :delete, data: { confirm: 'Deseja apagar esta dica?' } %></td>
						</tr>
						<% end %>
					</tbody>
				</table>

				<%= link_to 'Nova dica', new_tip_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>	</div>
</div>