<%= render 'shared/navigation_bar'%>

<p id="notice"><%= notice %></p>
<div class="container">
  <div class= "top-buffer">
    <div class="col-md-offset-1">

      <p>
        <strong>Dica:</strong>
        <%= @tip.description %>
      </p>

      <%= link_to 'Editar', edit_tip_path(@tip) %> |
      <%= link_to 'Voltar', tips_path %>
    </div>
  </div>
</div>